* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
}

.container main{
    width: calc(100% - 28vh);
    padding: 20px;
    height: 100vh;
    position: absolute;
    right: 0;
}

.container .sidebar {
    background: #000;
    color: #fff;
    height: 100vh;
    width: 28vh;
    position: fixed;
}

.container .sidebar .logo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.container .sidebar .logo img {
    width: 120px;
}

.container .sidebar .link {
    display: flex;
    color: #A1A1A1;
    padding: 10px 15px;
    gap: 15px;
    transition: all .5s;
    margin: 5px 0;
}

.container .sidebar .link:hover {
    border-right: 3px solid #FF5733;
}

.container .sidebar .link .icon {
    font-size: 20px;
}

